<script id="aboutView" type="text/html">
    <div id="pageContent" class="pageContent">
        <div id="pageContent" class="pageContent">
            <div class="featurette">
                <img class="featurette-image img-circle pull-left" src="css/images/about2.png">
                <h2 class="featurette-heading">Creator<br><span class="text-muted">I can make things.</span></h2>
                <p class="lead">
                    I've made videos, produced music, edited images (including these), written stories, and drawn things.
                    On a computer. Because it's the twenty-first century and stuff (except I like drawing on paper with a pencil).
                    I also know how to use CAD software, if what's being made needs to be physical one day.
                </p>
            </div>
            <div class="featurette">
                <img class="featurette-image img-circle pull-right" src="css/images/about1.png">
                <h2 class="featurette-heading">Programmer<br><span class="text-muted">I made this website. ;)</span></h2>
                <p class="lead">
                    Knowledge of several programming languages, paradigms, and problem solving strategies.
                    I use computers to make things happen and it makes me happy to do so!
                    Websites, applications, games, math problems, whatever you like, I'm down for it!
                    <br>My resume is on my LinkedIn, if you wanna know.
                </p>
            </div>
            <div class="featurette">
                <img class="featurette-image img-circle pull-left" src="http://placehold.it/512">
                <h2 class="featurette-heading">Huge Nerd<br><span class="text-muted">I like lots of dorky stuff.</span></h2>
                <p class="lead">
                    You probably know that already if you follow me on social media.
                    Life is important and when things need doing you gotta do them, but when they don't, you do other things to enjoy life!
                    I'm easy to please, so I like some dumb things, but I like them for reasons, albeit very subjective and personal ones.
                    Independent media, like music, games, makes me happy because it's usually made by creative, real humans who love what they do.
                    When I make people happy while doing what I do, that makes me happy, too. 
                </p>
            </div>
        </div>
    </div>
</script>