<div class="modal fade" id="addBlogModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <table class="blogForm" id="addBlogForm">
        <tr>
          <td class="formInput" colspan="2">
            <p class="lead">Create New Blog</p>
          </td>
          <td>
            <div class="buttonContainer">
              <span class="closeButton" id="addBlogCloseButton">&times;</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="formInput" colspan="3">
            <input type="text" id="i-blogTitle" class="form-control" placeholder="Title">
          </td>
        </tr>
        <tr>
          <td colspan="3" class="bodyFormContainer">
            <textarea id="i-blogBody" class="form-control bodyForm" rows="10"></textarea>
          </td>
        </tr>
        <tr>
          <td class="formInput">
            <p class="lead">Signature:</p>
          </td>
          <td class="formInput">
            <input type="text" id="i-blogUname" class="form-control" placeholder="username">
          </td>
          <td class="formInput">
            <input type="password" id="i-blogPword" class="form-control" placeholder="password">
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class="formInput">
            <div class="buttonContainer">
              <input type="submit" value="Submit" class="btn btn-primary" id="addBlogSubmit">
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
