<script id="addBlogView" type="text/html">
  <h2>Create New Blog</h2>
  <div class="blogForm" id="addBlogForm">
    <span class="closeButton" id="addBlogCloseButton">&times;</span>
    <div class ="flexSplitLeftRight">
      <p class="lead">
        Title:
      </p>
      <input type="text" id="i-blogTitle" placeholder="Title">
    </div>
    <textarea id="i-blogBody" rows="10" cols="50">Text here...</textarea>
    <div class ="flexSplitLeftRight">
      <p class="lead">
        Username:
      </p>
      <input type="text" id="i-blogUname" placeholder="username">
    </div>
    <div class ="flexSplitLeftRight">
      <p class="lead">
        Password:
      </p>
      <input type="password" id="i-blogPword" placeholder="password">
    </div>
    <input type="submit" value="Submit" id="addBlogSubmit">
  </div>
</script>
