<script id="connectView" type="text/html">
    <div id="pageContent">
        <div class="linksList">
            <div class="lead">
                <p>Connect with me on these sites! I don't bite!</p>
                <div class="linkContainer">
                    <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/bonkleton">Twitter</a>
                </div>
                <div class="linkContainer">
                    <i class="fa fa-deviantart" aria-hidden="true"></i> <a href="http://sidorak12814.deviantart.com/">DeviantArt</a>
                </div>
                <div class="linkContainer">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="https://www.facebook.com/bonkleton">Facebook</a>
                </div>
                <div class="linkContainer">
                    <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/Bonkleton">GitHub</a>
                </div>
                <div class="linkContainer">
                    <i class="fa fa-linkedin" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/jesse-rominske-269521bb/">LinkedIn</a>
                </div>
                <div class="linkContainer">
                    <i class="fa fa-soundcloud" aria-hidden="true"></i> <a href="https://soundcloud.com/sidorak12814">SoundCloud</a>
                </div>
                <div class="linkContainer">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i> <a href="https://www.youtube.com/channel/UC4lGVDG17ocdRdWjvjL5GXg">YouTube</a>
                </div>
            </div>
        </div>
        <div class="twitterborder">
            <a class="twitter-timeline tw-align-center"
                data-height="700"
                data-chrome="transparent noborders nofooter"
                width="400"
                href="https://twitter.com/bonkleton">Tweets by bonkleton</a>
        </div>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8" id="twitterScript"></script>
        <script src="https://use.fontawesome.com/ace3e9e80f.js"></script>
    </div>
</script>