<script id="connectView" type="text/html">
    <div id="pageContent">
        <div class="linksList">
            Social media/website links go here
            <br>- Twitter
            <br>- Facebook
            <br>- GitHub
            <br>- LinkedIn
            <br>- YouTube
            <br>- DeviantArt
            <br>- SoundCloud
        </div>
        <div class="twitterborder">
            <a class="twitter-timeline tw-align-center"
                data-height="700"
                data-chrome="transparent noborders nofooter"
                width="400"
                href="https://twitter.com/bonkleton">Tweets by bonkleton</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8" id="twitterScript"></script>
        </div>
    </div>
</script>